<Files ~ "\.inc(\.php)?$">
	Order allow,deny
	Deny from all
</Files>

<Files ~ "^db\.">
	Order allow,deny
	Deny from all
</Files>

<Files config.php>
	Order allow,deny
	Deny from all
</Files>

php_value file_uploads On
php_value upload_max_filesize 1M
php_value post_max_size 2M

php_value include_path ".:includes:../includes"
