/* Page */
body {
	background-image: url(images/bg_main.gif);
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: black;
	
	text-align: center;
}

#page_wrapper {
	margin: 0 auto;
	padding: 0;
	width: 780px;
	background: white;
	text-align: left;
}

/* Header */
#top_nav_wrapper {
	width: 100%;

	border-top: 4px solid #64a430;
	background: url(images/bg_topNav.gif) no-repeat;
	height: 36px;
}
#top_nav {
	margin: 0;
	padding: 0;
	float: right; /* move the entire list to the right-hand side */
	height: 100%;
}

#top_nav li {
	display: block; 
	float: left; /* within the list, the elements must float so the height can be set *and* display:block can be there */
	list-style-type: none;
	height: 100%;
}

#top_nav li a {
	display: block; /* make the link as large as the image */
	height: 100%;
	
	/* for the alt text */
	font-size: 13px;
	color: gray;
	text-decoration: none;
}

#top_nav a img {
	border: none;
}

#top_nav li:hover img {
	visibility: hidden; /* enable image replacement on hover -- see http://www.webcredible.co.uk/user-friendly-resources/css/rollover-buttons.shtml */
}

#logo {
	height: 97px;
	white-space: nowrap; /* keep the two logo images together as one */
	
	border-left: 1px solid #a88b59;
	border-right: 1px solid #a88b59;
}

/* Body: sidebar + content */
#body {
	background: url(images/body-columns.png) repeat-y; /* make it look like #sidebar continues all the way down */
	border-left: 1px solid #a88b59;
	border-right: 1px solid #a88b59;
	overflow: hidden; /* encompass both columns */
}

/* Sidebar */
#sidebar {
	float: left;
	width: 168px; /* same as width of images in #side_nav */
	background-color: #fdffc6;
	text-align: center;
	margin: 0;
	padding: 9.5px;
}

#side_nav {
	margin: 0;
	padding: 0;
	border-top: 4px solid #e19012;
	border-bottom: 4px solid #e19012;
}

#side_nav li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #e19012;
	height: 32px;
}

#side_nav li:last-child {
	border-bottom: none;
}

#side_nav li a {
	display: block;
	color: green; /* for the alt text */
	text-decoration: none;
}

#side_nav a img {
	border: none;
}

#side_nav li:hover img {
	visibility: hidden; /* enable image replacement on hover -- see http://www.webcredible.co.uk/user-friendly-resources/css/rollover-buttons.shtml */
}

#search {
	padding: 14px 0;
}

#search #search_box {
	float: left;
	height: 18px;
	width: 143px;
	border: 1px solid #87CEEB;
	padding: 0;
}

#search #search_submit {
	float: right;
	height: 20px;
	width: 23px;
}

#resources_for_researchers {
	background: white;
	text-align: left;
	margin: 0;
	padding: 0;
}

#resources_for_researchers img {
	margin-bottom: -4px;
}

#resources_for_researchers #resources_list {
	background: url(images/box_bgMain.gif) no-repeat;
	border: 1px solid #a8c6d4;
	border-top: none;
	padding: 0 5px;
	padding-top: 9px; /* to counteract the margin-bottom -4px of img, above */
}

#resources_for_researchers ul {
	margin: 0;
	padding: 0;

	/* Creates >> bullets; see http://www.alistapart.com/articles/taminglists/ */
	list-style: none;
	padding-left: 1em;
	text-indent: -1em;
}

#resources_for_researchers li {
	margin-bottom: 0.7em;
	line-height: 1.0;
}

#resources_for_researchers li:before {
	content: "\0BB \020";
}

#resources_for_researchers li a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-size: 10px;
}

#resources_for_researchers li.emph a {
	color: #D45602;
}

#resources_for_researchers li a:hover {
	color: #6B8FA5;
}

/* Content */
#content {
	float: right;
	width: 560px;
	margin: 0;
	padding: 15px;
	background-color: white;
}

/* Footer */
#footer {
	clear: both; /* Go after the columns above */
	text-align: right;
	font-size: 9px;
	line-height: 14px;
	border-bottom: 4px solid #64a430;
	
	background-color: #fdffc6;
	border-left: 1px solid #a88b59;
	border-right: 1px solid #a88b59;
	padding: 0 5px;
}
#footer a {
	color: black;
}
#footer a:hover {
	color: #6B8FA5;
	text-decoration: none;
}

/* Other */
a:link {
	color: #02A;
}
a:hover {
	color: #0175C2;
	text-decoration: none;
}
a:visited {
	color: #336;
}

p {
	margin: 0.5em 0;
}

h1 {
	font-size: 1.5em;
	color: #3D7610;
}
h2 {
	font-size: 1.4em;
	color: #0175C2;
}
h3 {
	font-size: 1.2em;
	color: #900;
}

h1 { 
	margin: 0 0 1em 0;
}
h2, h3 {
	margin: 1em 0 0.7em 0;
}

/* Forms */
.required_indicator {
	color: red;
	font-weight: bold;
}

input.error, .error input, textarea.error {
	border: 2px solid red;
}

label.error, .hoveringLabel {
	float: right;
	margin: 0 10px 0 5px;
	padding: 2px 4px;
	background-color: black; /* make it opaque */
	color: white;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: black 2px 2px 5px;
	-webkit-box-shadow: black 2px 2px 5px;
}

form textarea {
	font-family: sans-serif;
	width: 100%;
}

table.multitext {
	border-spacing: 0.2em;
}
table.multitext td.label {
	white-space: nowrap;
}
table.multitext input {
	width: 90%; /* make input boxes in the table fit */
}
table.multitext label.error {
	float: none;
	position: absolute; /* make error messages not affect table layout */
}
table.multitext label.error {	
	opacity: 0.8;
}
table.multitext label.error:hover {
	opacity: 0.1;
}

/* Page nav */
#page_nav_wrapper {
	width: 100%;
	text-align: center; /* center the nav bar on the page */
}

#page_nav {
	text-align: center; /* center the alt text inside each nav item */
	list-style-type: none;
	height: 3em;
}

#page_nav li {
	display: block;
	float: left;
	width: 8em;
	height: 100%;
	border: 1px solid gray; /* for debugging */
	margin: 0 5px;
}

#page_nav li a {
	display: block;
	height: 100%;
	
	/* for the alt text */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #890000;
	background-color: #feffd7;
	font-weight: bold;
}
