@import url("style-main.css");

body {
	line-height: 1.15em;
	background-color: #FED;
}

#container {
	border: 1px solid #999;
}

a:link {
	color: #24C;
}

a:visited {
	color: #336;
}

.error {
	color:red;
}
div#nav {
	margin-bottom: 1em;
}
div#nav ul {
	text-align:center;
	margin:0;
	padding:0;
	width:100%;
	font-size:1.1em;
}
div#nav ul li {
	display:inline;
	list-style-type:none;
	padding:5px 0;
}
div#nav ul li a {
	padding:5px;
	text-decoration:none;
	border-left:1px solid gray;
}
div#nav ul li:first-child a {
	border-left:none;
}
div#nav ul li:hover {
	background-color:#DFC;
}

td.mimetype {
}
td.date {
}

.optional {
	color: #666;
}

.optional input {
	color: #666;
}

form h2 {
	font-size: 1.2em;
}

.required {
	color: red;
	font-weight: bold;
}

form textarea {
	font-family: sans-serif;
	width: 100%;
}

table.multitext td.label {
	white-space: nowrap;
}

table.multitext {
	border-spacing: 0.2em;
}

table.multitext input {
	width: 10em;
}
