body {
	background-image: url(images/bg_main.gif);
	margin: 0 0 0 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 15px;
	font-color: #000;

}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-color: #000;
}



#main {
	background: #FFFFFF;
	width: 780px;	
	text-align: left;
	clear:both; 
}

	
/*Sets the color and text size for main content area on all pages*/	
P.home {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#000; 
line-height:14px;
margin-right:18;
}

P.home2 {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#003366; 
line-height:17px;
margin-left:10;
}

/*Sets the color and text size for main content area on patient page*/	
P.home3 {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#000; 
line-height:14px;
margin-right:22;
}

P.con {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#000; 
line-height:14px;
margin-left:20;
}


P.section {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:15px; 
color:#3D7610; 
line-height:14px;
margin-right:0;
font-weight:bold;
}

P.left {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:10px; 
color:#000000; 
line-height:12px;
margin-top:10;
margin-left:9;
margin-right:8;
font-weight:bold;
}
	
p.form {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:11px; 
color:#000; 
line-height:11px;
margin-right:10;
margin-top:12;
margin-bottom:12;
text-align:right;
font-weight:bold;
}

p.form2 {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:11px; 
color:#000; 
line-height:22px;
margin-left:10;
margin-top:8;
margin-bottom:8;
}

p.form3 {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:11px; 
color:#000; 
line-height:14px;
margin-left:10;
margin-top:8;
margin-bottom:8;
}

	
A.left {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:10px;
line-height:12px; 
color:#000; 
font-weight:bold;
text-decoration:none;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.left:hover {
font-family:Arial, Verdana,Helvetica, sans-serif; 
font-size:10px; 
color:#6B8FA5; 
font-weight:bold;
text-decoration:none;
}

P.right {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:10px; 
color:#000000; 
line-height:13px;
margin-top:10;
margin-left:10;
margin-right:8;
font-weight:none;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.right {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:11px; 
color:#D45602; 
font-weight:bold;
text-decoration:none;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.right:hover {
font-family:Arial, Verdana,Helvetica, sans-serif; 
font-size:11px; 
color:#6B8FA5; 
font-weight:bold;
text-decoration:none;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.left2 {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:10px; 
color:#D45602;
line-height:12px; 
font-weight:bold;
text-decoration:none;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.left2:hover {
font-family:Arial, Verdana,Helvetica, sans-serif; 
font-size:10px; 
color:#6B8FA5; 
font-weight:bold;
text-decoration:none;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.subNav {
font-family:Verdana,Arial, Helvetica, sans-serif; 
font-size:10px; 
color:#0175C2; 
font-weight:bold;
text-decoration:underline;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.subNav:hover {
font-family:Verdana,Arial, Helvetica, sans-serif; 
font-size:10px; 
color:#0175C2; 
font-weight:bold;
text-decoration:none;
}

P {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#000; 
line-height:16px;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.footer {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:9px; 
color:#000; 
font-weight:none;
text-decoration:underline;
}

/*PSG- Sets the color and text size for top sub-navigation*/	
A.footer:hover {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:9px; 
color:#6B8FA5; 
font-weight:none;
text-decoration:none;
}


/*PSG- Sets the color and text size for footer*/	
P.footer {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:9px; 
color:#000; 
line-height:14px;
}

/*PSG- Sets the color and text size for footer*/	
P.data {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:9px; 
color:#000; 
line-height:11px;
margin-left:4px;
margin-top:4px;
margin-bottom:4px;
}

/*PSG- Sets the color and text size for footer*/	
A.data {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:9px; 
color:#000; 
line-height:11px;
text-decoration:underline; 
font-weight:bold;
}

/*PSG- Sets the color and text size for footer*/	
A.data:hover {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:9px; 
color:#0175C2; 
line-height:11px;
text-decoration:none; 
font-weight:bold;
}


/*PSG- Sets the color and text size for links in the main content area*/
A {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#000;  
text-decoration:underline; 
}

/*PSG- Sets the color and text size for links on mouse over in the main content area*/
A:hover {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#0175C2; 
text-decoration:none; 
}

/*PSG- Sets the color and text size for links in the main content area*/
P.leftNav {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:10px; 
color:#000;   
margin-left:16;
margin-top:5;
margin-bottom:5;
margin-right:8;
line-height:11px;
}

/*PSG- Sets the color and text size for links in the main content area*/
A.leftNav {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:10px; 
color:#000;  
text-decoration:none;
line-height:11px;
font-weight:bold; 

}

/*PSG- Sets the color and text size for links on mouse over in the main content area*/
A.leftNav:hover {
font-family:Arial, Verdana, Helvetica, sans-serif; 
font-size:10px; 
color:#0175C2; 
text-decoration:none;
font-weight:bold; 
}

/*PSG- Sets the color and text size for links in the main content area*/
A.top {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#0175C2;  
text-decoration:underline; 
}

/*PSG- Sets the color and text size for links on mouse over in the main content area*/
A.top:hover {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#0175C2; 
text-decoration:none; 
}

P.sidebar {
line-height:8px;
margin-left: 10px;
}

td.sidebar
{ 
bgcolor:#FFFFFF;
background-image: url(images/box_bgMain.gif);
background-repeat: no-repeat;
} 

/*PSG- Sets the color and text size for links in the main content area*/
A.faq {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#000;  
text-decoration:none; 
}
