/* Otherwise nav items are stacked on the left */
#top_nav_wrapper {
	text-align: right;
}
#top_nav {
	float: none;
	width: 210px;
}
#top_nav li {
	width: 1px;
}

/* Otherwise content is below sidebar */
#content {
	padding-left: 0px;
}

/* Otherwise the nav items are too wide and wrap to the next line */
#page_nav li {
	width: 98px; /* 5 will fit in 560px (assuming 5px margins, 0px padding, and 1px border) */
}

/* Otherwise submit button is on next line */
#search #search_box {
	width: 139px;
	float: none; /* otherwise IE crashes: http://support.microsoft.com/kb/925418/ */
}

/* IE6 doesn't support :hover, but at least we can make it easier to see what's underneath */
table.multitext label.error {
	filter: alpha(opacity=50);
}
