/* Page */
body {
	background-image: url(images/bg_main.gif);
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: black;
	
	text-align: center;
}

#page_wrapper {
	margin: 0 auto;
	padding: 0;
	width: 780px;
	background: white;
	text-align: left;
}

/* Header */
#top_nav_wrapper {
	width: 100%;

	border-top: 4px solid #64a430;
	background: url(images/bg_topNav.gif) no-repeat;
	height: 36px;
}
#top_nav {
	margin: 0;
	padding: 0;
	float: right; /* move the entire list to the right-hand side */
	height: 100%;
}

#top_nav li {
	display: block; 
	float: left; /* within the list, the elements must float so the height can be set *and* display:block can be there */
	list-style-type: none;
	height: 100%;
}

#top_nav li a {
	display: block; /* make the link as large as the image */
	height: 100%;
	
	/* for the alt text */
	font-size: 13px;
	color: gray;
	text-decoration: none;
}

#top_nav a img {
	border: none;
}

#top_nav li:hover img {
	visibility: hidden; /* enable image replacement on hover -- see http://www.webcredible.co.uk/user-friendly-resources/css/rollover-buttons.shtml */
}

#logo {
	height: 97px;
	white-space: nowrap; /* keep the two logo images together as one */
	
	border-left: 1px solid #a88b59;
	border-right: 1px solid #a88b59;
}

/* Body: sidebar + content */
#body {
	background: url(images/body-columns.png) repeat-y; /* make it look like #sidebar continues all the way down */
	border-left: 1px solid #a88b59;
	border-right: 1px solid #a88b59;
	overflow: hidden; /* encompass both columns */
}

/* Sidebar */
#sidebar {
	float: left;
	width: 168px; /* same as width of images in #side_nav */
	background-color: #fdffc6;
	text-align: center;
	margin: 0;
	padding: 9.5px;
}

#side_nav {
	margin: 0;
	padding: 0;
	border-top: 4px solid #e19012;
	border-bottom: 4px solid #e19012;
}

#side_nav li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #e19012;
	height: 32px;
}

#side_nav li:last-child {
	border-bottom: none;
}

#side_nav li a {
	display: block;
	color: green; /* for the alt text */
	text-decoration: none;
}

#side_nav a img {
	border: none;
}

#side_nav li:hover img {
	visibility: hidden; /* enable image replacement on hover -- see http://www.webcredible.co.uk/user-friendly-resources/css/rollover-buttons.shtml */
}

#search {
	margin: 14px 0;
}

#search #search_box {
	float: left;
	height: 18px;
	width: 143px;
	border: 1px solid #87CEEB;
	padding: 0;
}

#search #search_submit {
	float: right;
	height: 20px;
	width: 23px;
}

#resources_for_researchers {
	background: white;
	text-align: left;
	margin: 0;
	padding: 0;
}

#resources_for_researchers img {
	margin-bottom: -4px;
}

#resources_for_researchers #resources_list {
	background: url(images/box_bgMain.gif) no-repeat;
	border: 1px solid #a8c6d4;
	border-top: none;
	padding: 0 5px;
	padding-top: 9px; /* to counteract the margin-bottom -4px of img, above */
}

#resources_for_researchers ul {
	margin: 0;
	padding: 0;

	/* Creates >> bullets; see http://www.alistapart.com/articles/taminglists/ */
	list-style: none;
	padding-left: 1em;
	text-indent: -1em;
}

#resources_for_researchers li {
	margin-bottom: 0.7em;
	line-height: 1.0;
}

#resources_for_researchers li:before {
	content: "\0BB \020";
}

#resources_for_researchers li a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-size: 10px;
}

#resources_for_researchers li.emph a {
	color: #D45602;
}

#resources_for_researchers li a:hover {
	color: #6B8FA5;
}

/* Content */
#content {
	float: right;
	width: 560px;
	margin: 0;
	padding: 15px;
	background-color: white;
}

/* Footer */
#footer {
	clear: both; /* Go after the columns above */
	text-align: right;
	font-size: 9px;
	line-height: 14px;
	border-bottom: 4px solid #64a430;
	
	background-color: #fdffc6;
	border-left: 1px solid #a88b59;
	border-right: 1px solid #a88b59;
	padding: 0 5px;
}
#footer a {
	color: black;
}
#footer a:hover {
	color: #6B8FA5;
	text-decoration: none;
}

/* Other */
a:link {
	color: #02A;
}
a:hover {
	color: #0175C2;
	text-decoration: none;
}
a:visited {
	color: #336;
}

a img {
	border: none;
}

h1 {
	font-size: 1.5em;
	color: #3D7610;
}
h2 {
	font-size: 1.4em;
	color: #0175C2;
}
h3 {
	font-size: 1.2em;
	color: #900;
}
h1 a, h2 a, h3 a, h1 a:link, h2 a:link, h3 a:link, h1 a:visited, h2 a:visited, h3 a:visited {
	color: inherit;
}

p {
	margin: 0.5em 0;
}
h1 { 
	margin: 0 0 1em 0;
}
h2, h3 {
	margin: 1em 0 0.7em 0;
}

.note {
    font-style: italic;
}

.adminlink {
    font-size: 80%;
}

.subtitle {
	color: #3D7610;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}
.subtitle .sponsor {
	font-size: 80%;
}

p.intext {
	width: 50%;
}

p.intext img {
	width: 100%;
}

p.intext, p.intext.left {
	float: left;
	margin: 1em 1em 1em 0em;
}
p.intext.right {
	float: right;
	margin: 1em 0em 1em 1em;
}

table#price {
	margin: 2em 0;
	border-collapse: collapse;
}
#price th {
	font-weight: normal;
	padding-right: 0.5em;
}
#price .total td, #price .total th {
	font-weight: bold;
	border-top: 1px solid black;
}

/* Forms */
.required_indicator {
	color: red;
	font-weight: bold;
}

table td.input {
	width: 100%;
}
table td.input input[type="text"],
table td.input input[type="file"],
table td.input select {
	width: 97%; /* not 100% because of borders */
}
table label {
	white-space: nowrap; /* to avoid getting crushed by width:100% */
}
table.multitext label.error {
	white-space: inherit; /* it's floating anyway, so it won't get crushed */
}

input.error, .error input, select.error, .error select, textarea.error {
	border: 2px solid red;
}

div.error label {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding: 4px 0;
}
div.error label:first-child {
	border-left: 2px solid red;
	padding-left: 4px;
}
div.error label:last-child {
	border-right: 2px solid red;
	padding-right: 4px;
}

tr.error {
	color: red;
}

label.error, label.valid, label.invalid, .hoveringLabel {
	float: right;
	margin: 0 10px 0 5px;
	padding: 2px 4px;
	background-color: black; /* make it opaque */
	color: white;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: black 2px 2px 5px;
	-webkit-box-shadow: black 2px 2px 5px;
}

label.valid {
	background-color: #3D7610;
}
label.invalid {
	background-color: #900;
}

form textarea {
	font-family: sans-serif;
	width: 100%;
	height: 25em;
}

form textarea#comments, form textarea#abstract_comments {
	height: 5em;
}

table.multitext {
	width: 100%;
	border-spacing: 0.2em;
}
table.multitext th {
	white-space: nowrap;
	font-weight: normal;
}
table.multitext input {
	width: 97%;

}
table.multitext label.error {
	float: none;
	position: absolute; /* make error messages not affect table layout */
}
table.multitext label.error {	
	opacity: 0.8;
}
table.multitext label.error:hover {
	opacity: 0.1;
}

.addmore {
	float: right;
}

.jump {
    margin-top: 1em;
	float: right;
}
.jump .prev, .jump .next, .jump .extra {
    display: inline;
}
.jump .next input {
    margin-left: 0.5em;
    color: #3D7610;
}


/* Page nav */
#page_nav_wrapper {
	width: 100%;
}

#page_nav {
	text-align: center; /* center the alt text inside each nav item */
	list-style-type: none;
	height: 3em;
	margin: 1em 0;
	padding: 0;
}

#page_nav li {
	display: block;
	float: left;
	height: 100%;
	border: 1px solid #CCC;
	margin: 0 5px;
	padding: 0px;
}

#page_nav li.onefifth, #page_nav li {
	width: 100px; /* 5 will fit in 560px (assuming 5px margins, 0px padding, and 1px border) */
}
#page_nav li.onefourth {
	width: 128px; /* 4 will fit in 558px */
}
#page_nav li.onethird {
	width: 174px; /* 3 will fit in 558px */
}
#page_nav li.oneninth {
	width: 50px;
}
#page_nav li.twoninths {
	width: 112px;
}

#page_nav li a {
	display: block;
	height: 100%;
	
	/* for the alt text */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #890000;
	background-color: #feffd7;
	font-weight: bold;
}

/* Schedule */

h2.day {
	color: black;
}

h3.time {
	color: #008000;
}

.talk .title {
	display: block;
	font-style: italic;
}

.talk .people {
	display: block;
}

/* Admin */
table.db_list_entry {
	border: 1px solid gray;
	margin: 0.5em 0;
	border-spacing: 0; /* to make the row background colors look good */
}
.db_list_entry th {
	text-align: right;
	padding: 0 0.5em;
}
.db_list_entry td {
	text-align: left;
	padding: 0 0.5em;
	width: 100%;
}
.db_list_entry tr.row_even {
	background-color: #FFF;
}
.db_list_entry tr.row_even {
	background-color: #EEE;
}
.db_list_entry .action {
	text-align: right;
}

/* Google-style CSS buttons */
/* http://stopdesign.com/archive/2009/02/04/recreating-the-button.html */
    .btn {
      display:inline-block;
      background:none;
      margin:0;
      padding:3px 0;
      border-width:0;
      overflow:visible;
      font:115%/1.2 Arial,Sans-serif;
      text-decoration:none;
      color:#333;
      }
    * html button.btn {
      padding-bottom:1px;
      }
    /* Immediately below is a temporary hack to serve the
       following margin values only to Gecko browsers
       Gecko browsers add an extra 3px of left/right
       padding to button elements which can't be overriden.
       Thus, we use -3px of left/right margin to overcome this. */
    html:not([lang*=""]) button.btn {
      margin:0 -3px;
      }
    .btn span {
      background:#ddd url(images/bg-button.gif) repeat-x 0 0;
      margin:0;
      padding:3px 0;
      border-left:1px solid #bbb;
      border-right:1px solid #aaa;
      }
    * html .btn span {
      padding-top:0;
      }
    .btn span span {
      position:relative;
      padding:3px .4em;
      border-width:0;
      border-top:1px solid #bbb;
      border-bottom:1px solid #aaa;
      }

    /* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
    button.pill-l span {
      border-right-width:0;
      }
    button.pill-l span span {
      border-right:1px solid #bbb;
      }
    button.pill-c span {
      border-right-style:none;
      border-left-color:#fff;
      }
    button.pill-c span span {
      border-right:1px solid #bbb;
      }
    button.pill-r span {
      border-left-color:#fff;
      }

    /* only needed if implementing separate hover/focus/active state for buttons */
    .btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span {
      cursor:pointer; /* important for any clickable/pressable element */
      border-color:#9cf !important;
      color:#000;
      }
    .btn:active span {
      background-position:0 -400px;
      outline:none;
      }
    .btn:focus, .btn:active {
      outline:none; /* doesn't seem to be respected for <button>, only <a> */
      }

    /* use if one button should be the 'primary' button */
    .primary {
      font-weight:bold;
      color:#000;
      }